source [find interface/cmsis-dap.cfg]
source [find target/stm32f4x.cfg]

transport select swd

# 分配一段 RAM 作为烧录缓冲区，速度提升可达 5-10 倍
# $_CHIPNAME.cpu configure -work-area-phys 0x20000000 -work-area-size 0x1000 -work-area-backup 0
# adapter speed 50000 